*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

[class*=__container] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  padding-top: 20px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.header__logo {
  font-size: 32px;
  font-weight: 700;
}

.header__block-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-city {
  border: 4px solid black;
  border-radius: 20px;
  width: 250px;
  height: 55px;
  background: transparent;
  color: rgb(22, 30, 53);
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
}
.header__search-city::-webkit-input-placeholder {
  color: rgb(22, 30, 53);
}
.header__search-city::-moz-placeholder {
  color: rgb(22, 30, 53);
}
.header__search-city:-ms-input-placeholder {
  color: rgb(22, 30, 53);
}
.header__search-city::-ms-input-placeholder {
  color: rgb(22, 30, 53);
}
.header__search-city::placeholder {
  color: rgb(22, 30, 53);
}

.header__search-button {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: 4px solid black;
  background-color: rgb(150, 228, 252);
  font-size: 16px;
  outline: none;
}

.footer {
  padding: 20px 0px;
}

.footer__container {
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer_block-athor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.footer__author {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(47, 47, 218)), to(rgb(94, 172, 236)));
  background: -o-linear-gradient(bottom, rgb(47, 47, 218), rgb(94, 172, 236));
  background: linear-gradient(0deg, rgb(47, 47, 218), rgb(94, 172, 236));
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wheather {
  padding-top: 50px;
}

.wheather__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wheather__output-block {
  width: 620px;
  height: 400px;
  border-radius: 50px;
  border: 4px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: rgb(150, 228, 252);
  padding: 5px;
}

.wheather__block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 16px;
}

.wheather__title {
  font-size: 25px;
  font-weight: 700;
}

.wheather__block-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wheather__image {
  width: 80px;
  height: 80px;
}

.wheather__description {
  font-size: 16px;
}

.wheather__block-wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}