@import "_nullstyle";
@import "_fonts";

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0px 15px;
}

@import "_header";
@import "_footer";


body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  background: linear-gradient(0deg, rgb(47, 47, 218), rgb(94, 172, 236));
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.main {
  flex: 1 1 auto;
}

.wheather {
  padding-top: 50px;
}

.wheather__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheather__output-block {
  width: 620px;
  height: 400px;
  border-radius: 50px;
  border: 4px solid black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(150, 228, 252);
  padding: 5px;

  @media (max-width: 450px) {
    height: 300px;
  }
}

.wheather__block-content {
  display: flex;
  gap: 10px;
  font-size: 16px;

  @media (max-width: 450px) {
    font-size: 14px;
  }
}

.wheather__title {
  font-size: 25px;
  font-weight: 700;

  @media (max-width: 450px) {
    font-size: 18px;
  }
}

.wheather__block-temperature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  @media (max-width: 450px) {
    gap: 5px;
  }
}

.wheather__image {
  width: 80px;
  height: 80px;

  @media (max-width: 450px) {
    width: 50px;
    height: 50px;
  }
}

.wheather__temperature {}

.wheather__description {
  font-size: 16px;
}

.wheather__humidity {}

.wheather__temperature_feels-like {}

.wheather__pressure {}

.wheather__block-wind {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 450px) {
    gap: 5px;
  }
}

.wheather__wind-speed {}

.wheather__wind-gust {}

.wheather__wind-deg {}